<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Views/Shared/css/bootstrap.min.css")
        @Styles.Render("~/Views/Shared/css/landing-page.css")
        @Styles.Render("~/Views/Shared/font-awesome/css/font-awesome.min.css")*@
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>



</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">品玉屋</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("首页", "Index", "Home", new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("玉文化", "Culture", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("作品", "Products", "Home")
                    </li>
                    <li>
                        @Html.ActionLink("证书查询", "ProductQuery", "Home")
                    </li>
                    <li>
                        <a href="#contact">证书管理</a>
                    </li>
                    <li>
                        @Html.ActionLink("联系我们", "Contact", "Home")
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <div class="panel-footer">
        <p style="margin-top:15px !important;text-align: center;">Copyright © 品玉屋 2016. All Rights Reserved</p>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
