@model DataAccessLayer.Model.Production
<div class="container">
    @if (Model != null)
    {
        @*<div class="panel-heading">
            <h2>@Model.Name</h2>
        </div>*@
        @*<div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <img src="@Model.Images.First().ImageAddress" />
                </div>
                <div class="col-xs-12 col-lg-6">
                    <dl class="dl-horizontal" style="font-size:16px;">
                        <dt><label>[证书编号]</label></dt>
                        <dd>@Model.SerialNumber</dd>
                    </dl>
                    <dl class="dl-horizontal" style="font-size:16px;">
                        <dt><label>[作者]</label></dt>
                        <dd>@Model.Author</dd>
                    </dl>
                    <dl class="dl-horizontal" style="font-size:16px;">
                        <dt><label>[尺寸]</label></dt>
                        <dd>@Model.Size &nbsp;mm</dd>
                    </dl>
                    <dl class="dl-horizontal" style="font-size:16px;">
                        <dt><label>[重量]</label></dt>
                        <dd>@Model.Weight &nbsp;g</dd>
                    </dl>
                    <dl class="dl-horizontal" style="font-size:16px;">
                        <dt><label>[简介]</label></dt>
                        <dd>@Model.Description</dd>
                    </dl>
                </div>
            </div>
        </div>*@
    <div class="panel-body">
        <div class="title-v1">
            <p class="bg-primary">
               以下是查询到的结果。
            </p>
        </div>
        <div class="bg-color-light">
            <div class="container content-sm">
                <div class="row">
                    <div class="col-md-6 md-margin-bottom-50">
                        <img alt="" src="@Model.Images.First().ImageAddress" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <br><br>
                        <div class="headline-left margin-bottom-30">
                            <h1 class="section-heading headline-brd">@Model.Name</h1>
                            <div class="refnumber">
                                <h6 class="feature-title ref">参考编号: @Model.SerialNumber</h6>
                            </div>
                            <br /><br />
                            <p class="lead">@Model.Description</p>
                        </div>
                        <div class="group-group">
                            <div class="group-0 clearfix">
                                <span class="group-title">规格 &amp; 参数</span>
                                <div class="feature">
                                    <h6 class="feature-title">作者: @Model.Author</h6>
                                </div>
                                <div class="feature">
                                    <h6 class="feature-title">尺寸: @Model.Size mm</h6>
                                </div>
                                <div class="feature">
                                    <h6 class="feature-title">重量: @Model.Weight mm</h6>
                                </div>
                            </div>
                        </div>
                        @*<ul class="list-unstyled">
                            <li>作者<i class="fa fa-check"></i> </li>
                            <li>尺寸<i class="fa fa-check"></i> @Model.Size  &nbsp;mm</li>
                            <li>重量<i class="fa fa-check"></i> @Model.Weight  &nbsp;g</li>
                        </ul>*@

                        @*<a class="btn-u btn-brd btn-brd-hover btn-u-dark" href="#">Learn More</a>*@
                    </div><!--/end row-->
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="panel-body">
            <div style="font-size:20px;">
                没有查询到相关信息。
                @Html.ActionLink("返回", "ProductQuery", "", new { @class = "btn btn-primary" })
            </div>
        </div>
    }
</div>
