@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container">
    <div class="container content-lg">
        <h2>作品集</h2>
        <hr class="landing-hr-bold-grey" />
        <!-- Team Members -->
        @model List<DataAccessLayer.Model.Production>
        <div class="row products">
            @foreach (var production in Model)
            {
                <div class="col-xs-12 col-sm-6 col-lg-3 pb-2x">
                    <div class="photo-item">
                        <div class="thumbnail" id="@production.Id">
                            <img src="@production.Images.First().ImageAddress" alt="image" />
                            <div class="hover-mask">
                                <div class="item-title">@production.Name</div>
                                <p>@production.Description</p>
                            </div>
                        </div>
                        <div class="visible-xs visible-sm visible-md headline-left margin-bottom-10"><h3 class="headline-brd">@production.Name</h3></div>
                    </div>

                </div>

            }

        </div>
    </div>
</div>

<style>
    .col-md-4 {
        margin: 10px 0 !important;
    }
</style>
